*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--theme: #075c86;
	--theme-dim: #043c58;
	--gray: #bbb;
	/* Secondary color (Delimiter) */
	--gray-dim: #666;
	/* Primary color dimmed */
}

body {
	font-family: 'Segoe UI', sans-serif;
}

#header {
	background: linear-gradient(120deg, #0589 0%, var(--theme) 35%, var(--theme-dim));
	position: relative;
}

#header::before {
	content: '';
	background: var(--bg) left top/40vw fixed no-repeat;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
}

#header h1 {
	color: white;
	text-align: center;
	padding: 2em 1em;
}

#container {
	width: 100% !important;
	min-width: 0px !important;
}

.headerLogo {
	height: 120px;
	margin-right: 0.8em;
	vertical-align: middle;
}

a,
a:link,
a:visited {
	color: var(--theme);
}

a:hover {
	background: none;
}


input,
button,
select {
	border: 1px solid var(--gray) !important;
	padding: 3px;
	margin: 3px 0;
	padding-left: .5em;
	line-height: 1.5em;
}

input:focus,
select:focus {
	transition: all .4s;
}

input.defaultButton,
input.button:hover {
	background-color: var(--theme);
	color: #FBFBF3;
}

button,
input.button {
	cursor: pointer;
}

.block {
	background-color: white;
	box-shadow: 0 0 2px var(--theme);
	padding: 0.4em;
	margin: 0.5em 0;
}

#content {
	border-top: none;
	font-size: 0.8em;
}

#body {
	min-height: 100vh;
}

#main {
	width: calc(100% - 2em);
	padding: 1em;
	font-size: 1em;
	float: none;
	max-width: 800px;
	margin: 1em auto;
	display: block;
}

#pkp-common-openJournalSystems #main {
	max-width: initial;
}


#rightSidebar {
	position: absolute;
	right: -25%;
	float: none;
	width: calc(25% - 2em);
	padding: 1em 0em 1em 0em;
	font-size: 0.9em;
	margin-left: 1em;
	margin-right: 1em;
}

#navbar {
	text-align: center;
	border-bottom: none;
	padding-bottom: 0;
}

#navbar a {
	font-size: 0.8em;
	color: white;
	padding: 1em 1em;
	display: inline-block;
}

#navbar a:hover {
	background: var(--theme-dim);
}

#navbar li {
	padding: 0;
	display: inline-block;
}

a.action,
a.file {
	font-size: 1em;
}

.journals {
	display: flex;
	flex-wrap: wrap;
}

.journal-content h3 {
	margin-bottom: 0.8em !important;
}

.journal-item {
	display: flex;
	background-color: white;
	box-shadow: 0 0 3px var(--gray);
	margin: 0.5em;
	flex: 1;
	transition: all 0.3s ease-in-out;
}

.journal-item:hover {
	box-shadow: 0 0 4px var(--theme);
}

.journal-thumb {
	width: 120px;
	background-color: var(--theme);
}

.journal-content {
	margin-left: 1em;
	flex-grow: 1;
}

.journals .action {
	padding: 0.4em;
	margin: 0.4em 0;
	background-color: var(--theme);
	color: white;
	text-decoration: none;
	display: block;
}

.journals .action:hover {
	background-color: var(--theme-dim);
}

.homepageImage img {
	margin: 0 auto;
	border: 0;
	float: none;
	display: block;
	width: 100%;
	margin: 0;
	text-align: center;
}

.homepageImage,
.homepageImage a {
	height: 100%;
	display: block;
}

.footer {
	background: linear-gradient(270deg, #058a 0%, var(--theme-dim) 50%, var(--theme-dim));
	margin-top: 1em;
	position: relative;
}

.footer-inner::before {
	content: '';
	background: var(--bg) right bottom/50vw fixed no-repeat;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
}

.footer,
.footer a {
	color: white;
}

.footer-content {
	display: flex;
}

.footer-copyright {
	bottom: 0;
	text-align: center;
	width: 100%;
	background-color: var(--theme-dim);
	padding: 0.2em;
	font-size: 0.9em;
}

.footer-inner {
	padding: 1em;
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer-map {
	border: 0;
	width: 400px;
	height: 300px;
}

.footer-inner * {
	margin: 0.5em 0;
}


@media (max-width: 650px) {

	#header h1 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.journals {
		flex-direction: column;
	}

	.footer-content {
		flex-direction: column;
	}

	.headerLogo {
		margin-right: 0;
		margin-bottom: 0.8em;
	}

	.footer-map {
		width: 100%;
	}

	#header::before,
	.footer-inner::before {
		background-size: cover;
		background-attachment: scroll;
		background-position: center;
	}

	#header {
		background: linear-gradient(180deg, #0589 0%, var(--theme) 90%);
	}

	.footer {
		background: linear-gradient(0deg, #058a 0%, var(--theme-dim) 50%);
	}
}


.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	opacity: 0;
	transition: opacity 0.3s ease-in;
	pointer-events: none;
	display: flex;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog>div {
	width: 80%;
	max-height: 60%;
	position: relative;
	margin: 0 auto;
	padding: 1em;
	background: white;
	display: flex;
	align-self: center;
	max-width: 960px;
}

.close {
	background: var(--gray);
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
	background: var(--theme);
}

.modalThumb {
	align-self: center;
	margin: 1em;
}

.modalContent {
	padding: 1em;
	overflow-y: auto;
	flex-grow: 1;
}


#pkp-common-openJournalSystems #main>h2 {
	display: none;
}